doctype html.no-js(lang='')
head
    meta(charset='utf-8')
    |   
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    |   
    title Webbutveckling - Landim.se
    |   
    meta(name='description', content='Skapar hemsidor åt passionerade människor som vill dominera i sin branch!')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    |   
    link(rel='manifest', href='site.webmanifest')
    |   
    link(rel='apple-touch-icon', href='icon.png')
    // Place favicon.ico in the root directory
    style(type="text/css").
      video{position:fixed;top:50%;left:50%;min-width:100%;min-height:100%;width:auto;height:auto;z-index:-100;transform:translateX(-50%) translateY(-50%);background-size:cover;transition:1s opacity}.curtain,.video_overlay{width:100vw;position:fixed}.video_overlay{top:0;left:0;height:100vh;background-color:rgba(30,98,98,.3);z-index:-99}.curtain{height:100vh;background-color:#1e6262;z-index:100;display:flex;justify-content:center;align-items:center}p{margin:0}body{font-family:"Futura PT",sans-serif;font-size:18px;color:#fff}h1{font-size:2em}.main{padding:0 8%;display:grid;grid:4fr 1fr 4fr/1fr;height:100vh;text-align:center}img{justify-self:center;align-self:center;width:500px}.title{font-size:56px;align-self:flex-end}.contact{font-size:40px}i{float:left}@media only screen and (max-width:500px){img{width:250px}.title{font-size:26px}.contact{font-size:20px}}
  body
    //if lte IE 9
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='https://browsehappy.com/') upgrade your browser
        |  to improve your experience and security.
    // Add your site or application content here
    .curtain
      h1 landim.se
    |   
    video#bgvid(playsinline='', autoplay='', muted='', loop='')
      source(src='./vid/bgvid.mp4', type='video/mp4')
    |   
    .video_overlay
    |   
    .main
      p.title
        span.bold landim.se
        |  &auml;r just
        |       
        br
        | nu under
        |       
        span.bold konstruktion!
        |       
        br
        | Ni kan kontakta mig via
      |     
      img(src='./img/arrow.svg', alt='Arrow pointing down')
      |     
      .contact
        .phone
          i.fas.fa-phone
          |         072 - 389 15 66
        |       
        .email
          i.fas.fa-envelope
          |         gabriel@landim.se
    |   
    link(rel='stylesheet', href='css/normalize.css')
    |   
    link(rel='stylesheet', href='css/main.min.css')
    script(src='js/vendor/modernizr-3.6.0.min.js')
    |   
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.4/velocity.min.js')
    |   
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\\/script>')
    |   
    script(async src='js/plugins.js')
    |   
    script(async src='js/main.js')
    |   
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.13/js/all.js', integrity='sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe', crossorigin='anonymous')
    // Google Analytics: change UA-XXXXX-Y to be your site's ID.
    script.
      window.ga = function () {
      ga.q.push(arguments)
      };
      ga.q = [];
      ga.l = +new Date;
      ga('create', 'UA-XXXXX-Y', 'auto');
      ga('send', 'pageview')
    |   
    script(src='https://www.google-analytics.com/analytics.js', async='', defer='')
