/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

@import url("https://use.typekit.net/vof0luw.css");

.bold,
h1 {
    font-weight: 700
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

/*
===================
My Content
===================
*/
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity
}

.curtain,
.video_overlay {
    width: 100vw;
    position: fixed
}

.video_overlay {
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(30, 98, 98, .3);
    z-index: -99
}

.curtain {
    height: 100vh;
    background-color: #1e6262;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center
}

p {
    margin: 0
}

body {
    font-family: "Futura PT", sans-serif !important;
    font-size: 18px;
    color: #fff
}

h1 {
    font-size: 2em
}

.main {
    padding: 0 8%;
    display: grid;
    grid: 4fr 1fr 4fr/1fr;
    height: 100vh;
    text-align: center
}

img {
    justify-self: center;
    align-self: center;
    width: 500px
}

.title {
    font-size: 56px;
    align-self: flex-end
}

.contact {
    font-size: 40px
}

i {
    float: left
}

@media only screen and (max-width:500px) {
    img {
        width: 250px
    }
    .title {
        font-size: 26px
    }
    .contact {
        font-size: 20px
    }
}

/*
===================
My Content end
===================
*/

.hidden {
    display: none!important
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit
}

.invisible {
    visibility: hidden
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

@media print {
    blockquote,
    img,
    pre,
    tr {
        page-break-inside: avoid
    }
    *,
    :after,
    :before {
        background: 0 0!important;
        color: #000!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    pre {
        white-space: pre-wrap!important
    }
    blockquote,
    pre {
        border: 1px solid #999
    }
    thead {
        display: table-header-group
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}