video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity
}

.curtain,
.video_overlay {
    width: 100vw;
    position: fixed
}

.video_overlay {
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(30, 98, 98, .3);
    z-index: -99
}

.curtain {
    height: 100vh;
    background-color: #1e6262;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center
}

p {
    margin: 0
}

body {
    font-family: "Futura PT", sans-serif;
    font-size: 18px;
    color: #fff
}

h1 {
    font-size: 2em
}

.main {
    padding: 0 8%;
    display: grid;
    grid: 4fr 1fr 4fr/1fr;
    height: 100vh;
    text-align: center
}

img {
    justify-self: center;
    align-self: center;
    width: 500px
}

.title {
    font-size: 56px;
    align-self: flex-end
}

.contact {
    font-size: 40px
}

i {
    float: left
}

@media only screen and (max-width:500px) {
    img {
        width: 250px
    }
    .title {
        font-size: 26px
    }
    .contact {
        font-size: 20px
    }
}